*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.list{
    list-style: none;
}
.list__item{
    display: inline-block;
}
.list__link{
    display: block;
    padding: .5rem 1rem;
    margin: 0 1rem;
    border:1px solid;
    border-radius: 5px;
}
.list__link:hover{
    background: #00000050;
}
.dialog{
    padding: 1rem;
    margin: 1rem;
    background: #00FF0050;
    border: 1px solid;
    display: inline-block;
}